@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Vi fotograferar brudpar, familjer, studenter, barn, baby, förskolor mm.

    Vi erbjuder er en modern fotografering med lite annorlunda bilder, såväl som klassisk fotografering
    Vi har även en mobil studio som vi kan bygga upp hos er för smidigare personalfotograferingar.
    Hör gärna av dig för ett snabbt prisexempel eller en offert. Vi ser fram emot att prata med dig.
    Vår styrka är att arbeta snabbt och effektivt utan att tumma en millimeter på kvaliten. Vi är nyfikna och kreativa och kravet på oss själva är att kunden alltid ska vara nöjd. Vår uppgift är att skapa bilder som kommunicerar rätt budskap för våra kunder.
</p>

@model List<DBExample.Models.Student>
